@import 'tailwindcss';

@theme {
  --color-primary: #659CA9;
  --color-primary-glow: #222;
  --color-primary-muted: #4F6267;

  --color-layer0: #1a1a1a;
  --color-layer1: #272727;
  --color-layer2: #424242

}

html {
  background-size: cover;
  background-image: url('paper-bw-tr.webp');
  background-blend-mode: soft-light;
    max-height: 100vh;
  @apply text-white;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(to bottom, #1a1a1aff 50%, #1a1a1aee);
  color: var(--color-text);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

