@import 'tailwindcss';

@theme {
  --color-primary: #9E9174;
  --color-primary-highlight: #C0B8A5;
  --color-primary-muted: #675C44;

  --color-positive: #3DCC84;
    --color-positive-muted: #2B5942;
  --color-destructive: #CD4068;
  --color-destructive-highlight: #FF89AB;
  --color-destructive-muted: #673644;

  --color-layer0: #050507;
  --color-layer1: #1C1D22;
  --color-layer2: #3C3E49;
  --color-layer3: #797E8D;

}

html {
  background-size: cover;
  background-image: url('paper-bw-tr.webp');
  background-blend-mode: soft-light;
    max-height: 100vh;
  @apply text-white;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;

}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-layer2);
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-layer3);
    background-clip: padding-box;
    border: 2px solid transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--color-layer0);
  /* background-image: linear-gradient(to bottom, #050507ee 10%, #050507ff 30%, #050507ff); */
  color: var(--color-text);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-external {
      background-size: cover;
      background-image: url('paper-bw-tr.webp');
    background-blend-mode: soft-light;

}

.header-internal {

  background-image: linear-gradient(to bottom, #050507ea, #050507ff);
  /* background-image: radial-gradient(circle at top, #050507ee, #050507ff); */
}

dialog::backdrop {
  background-color: #00000088;

}